.completed{
    text-decoration: underline dotted;
}
.todoPage{
    width: 320px;
    margin: auto;
}
li >*:not(span){
    float: right;
}
.form-inline{
    margin-bottom: 20px;
}
.form-inline input{
    flex: 1
}